.error-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .error-title {
    font-size: 180px;
    margin: 20px;
  }
  
  .error-image {
    width: 160px;
    vertical-align: middle;
  }
  
  .error-message {
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  .error-button {
    margin-top: 100px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .error-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  